<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ROBO-BootCamp</title>
  <link rel = "icon" href = "https://ih1.redbubble.net/image.445355550.8266/flat,750x1000,075,f.u1.jpg" type = "image/x-icon">
  
  <!-- Custom fonts for this theme -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="../static/css/freelancer.css" rel="stylesheet">

  <!-- Custom CSS -->
	<link href="../static/css/main.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">

    <div class="container">
	  <img src="../static/img/2.png" width= "75" height="75" alt="">

      <a class="navbar-brand js-scroll-trigger" style = "text-transform: none; letter-spacing: 20px; font-weight: lighter;" href="/">ROBO-BootCamp</a>
		<button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-black rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
	  
        <ul class="navbar-nav ml-auto">
			<!--  Social Icons -->
          <li class="nav-item mx-0 mx-lg-1">
            <a href="/" style = "text-transform: none; font-size: 25px; margin: 1rem; font-weight: lighter;">
				Home
			  </a>
		  </li>
		  <li class="nav-item mx-0 mx-lg-1">
            <a href="/test" style = "text-transform: none; font-size: 25px; margin: 1rem; font-weight: lighter;">
				Take Test
			  </a>
		  </li>
		  <li class="nav-item mx-0 mx-lg-1">
            <a href="/more" style = "text-transform: none; font-size: 25px; margin: 1rem; font-weight: lighter;">
				Learn More
			  </a>
		  </li>
		</ul>
      </div>
    </div>
  </nav>

<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <br/>
		<br/>
		<br/>
		<br/>
		<br/>
		
      <!-- About Section Heading -->
      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas"><img src="../static/img/2.png" width= "75" height="75" alt=""></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

	  <br>
	  <br>
      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
		      <h5 class="page-section-heading text-center text-uppercase text-white" style = "text-transform: none; letter-spacing: 20px; font-weight: lighter;">Problem</h5>
			<br>
          <p class="lead">
              The inspiration for this project came out of a discussion concerning the fate of small-scale
            businesses post the COVID-19 pandemic. The question in focus was in connection to how small businesses were going to bounce back from such a hit to their daily livestyles and business routines. We realized there were several funding opportunities that were springing up specifically for businesses of different criteria that had been hit by this deadly pandemic. So we set course to look for opportunities that may be available for business owners to be able to gain some support to recover from this hit. Let's face the fact - how many small scale business owners out there might be well-aware of all of these available funds that they could potentially be able to get to help them rebuild? Trying to find such resources could take a lot of time!
            </p>
        </div>
        <div class="col-lg-4 mr-auto">
            <img class="masthead-avatar mb-5 logo" src="../static/img/8.JPG" style="width:600px; height:500px">

        </div>
      </div>
	  
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  
	  <div class="row">
        <div class="col-lg-4 ml-auto">
        <img class="masthead-avatar mb-5 logo" src="../static/img/1.jpg" style="width:450px; height:500px">

        </div>
        <div class="col-lg-4 mr-auto">
				      <h5 class="page-section-heading text-center text-uppercase text-white" style = "text-transform: none; letter-spacing: 20px; font-weight: lighter;">Solution</h5>
			<br>
			<p class="lead">
              The inspiration for this project came out of a discussion concerning the fate of small-scale
            businesses post the COVID-19 pandemic. The question in focus was in connection to how small businesses were going to bounce back from such a hit to their daily livestyles and business routines. We realized there were several funding opportunities that were springing up specifically for businesses of different criteria that had been hit by this deadly pandemic. So we set course to look for opportunities that may be available for business owners to be able to gain some support to recover from this hit. Let's face the fact - how many small scale business owners out there might be well-aware of all of these available funds that they could potentially be able to get to help them rebuild? Trying to find such resources could take a lot of time!
            </p>
        </div>
      </div>
	  
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  
	  <div class="row">
        <div class="col-lg-4 ml-auto">
				      <h5 class="page-section-heading text-center text-uppercase text-white" style = "text-transform: none; letter-spacing: 20px; font-weight: lighter;">Market</h5>
          <br>
		  <p class="lead">
              The inspiration for this project came out of a discussion concerning the fate of small-scale
            businesses post the COVID-19 pandemic. The question in focus was in connection to how small businesses were going to bounce back from such a hit to their daily livestyles and business routines. We realized there were several funding opportunities that were springing up specifically for businesses of different criteria that had been hit by this deadly pandemic. So we set course to look for opportunities that may be available for business owners to be able to gain some support to recover from this hit. Let's face the fact - how many small scale business owners out there might be well-aware of all of these available funds that they could potentially be able to get to help them rebuild? Trying to find such resources could take a lot of time!
            </p>
        </div>
        <div class="col-lg-4 mr-auto">
            <img class="masthead-avatar mb-5 logo" src="../static/img/9.png" style="width:800px; height:500px">

        </div>
      </div>
	  
	  	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  
	  <div class="row">
        <div class="col-lg-4 ml-auto">
        <img class="masthead-avatar mb-5 logo" src="../static/img/10.JPG" style="width:500px; height:500px">

        </div>
        <div class="col-lg-4 mr-auto">
				      <h5 class="page-section-heading text-center text-uppercase text-white" style = "text-transform: none; letter-spacing: 20px; font-weight: lighter;">Proposition</h5>
			<br>
			<p class="lead">
              The inspiration for this project came out of a discussion concerning the fate of small-scale
            businesses post the COVID-19 pandemic. The question in focus was in connection to how small businesses were going to bounce back from such a hit to their daily livestyles and business routines. We realized there were several funding opportunities that were springing up specifically for businesses of different criteria that had been hit by this deadly pandemic. So we set course to look for opportunities that may be available for business owners to be able to gain some support to recover from this hit. Let's face the fact - how many small scale business owners out there might be well-aware of all of these available funds that they could potentially be able to get to help them rebuild? Trying to find such resources could take a lot of time!
            </p>
        </div>
      </div>
	  
	  <div class="divider-custom divider-light" style= "color: #e25822;">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas"><a style= "color: #e25822;" href="/test"> Take Test </a> </i>
        </div>
        <div class="divider-custom-line"></div>
      </div>
	</div>

    </div>
  </section>
  
  <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v8.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="105159924253591"
  theme_color="#0084ff"
  logged_in_greeting="Hello, I am RobobootCamp just say 'hi' to start or  "help" to go to menu. "
  logged_out_greeting="Hello, I am RobobootCamp just say 'hi' to start or  "help" to go to menu. ">
      </div>
	  

   <!-- Footer Section -->
   <footer class="copyright py-4 text-center footer">
    <div class="cont">
      <small>Copyright &copy; COVXIX 2020</small>
    </div>
  </footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
<a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
  <i class="fa fa-chevron-up"></i>
</a>
</div>


<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../static/js/freelancer.min.js"></script>

</body>

</html>